// Partials
@use "./variables" as *;
@use "./mixins" as *;

// Resets
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: lightslategray;
}

body {
  font-size: 1.6rem;
  margin: 0;
}

// Buttons
.btn {
  background: white;
  color: lightslategray;
  border-color: transparent;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  padding: 1.2rem 1.0rem;
  display: inline-block;
  transition: all 0.3s linear;
  cursor: pointer;
  border-radius: 0.25rem;
  display: inline-block;

  &:hover {
    background-color: lightslategray;
    color: white;
  }
}



// Loading
.loading {
  font-size: 5rem;
  margin: 2.5rem;
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  color: lightslategray;

  @include tablet {
    font-size: 10rem;
  }

  @include desktop {
    padding-top: 10rem;
    font-size: 12rem;
  }
}
