// Partials
@use "./variables" as *;
@use "./mixins" as *;

// Resets
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: lightslategray;
}

body {
  font-size: 1.6rem;
  margin: 0;
}

// Loading
.loading {
  font-size: 5rem;
  margin: 2.5rem;
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  color: lightslategray;

  @include tablet {
    font-size: 10rem;
  }

  @include desktop {
    padding-top: 10rem;
    font-size: 12rem;
  }
}
