.error {
  display: flex;
  justify-content: center;

  &-container {
    text-align: center;
    text-transform: capitalize;
  }

  &-section {
    padding: 5rem 0;
  }

  &-title {
      color: white;
      font-size: 3.6rem;
  }
}


